services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    volumes:
      - chroma_data:/app/chroma_db
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - DB_DIRECTORY=/app/chroma_db
    depends_on:
      - ollama

  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  ollama-pull:
    image: ollama/ollama
    container_name: ollama_puller
    environment:
      - OLLAMA_HOST=http://ollama:11434
    command: pull ${LLM_MODEL_NAME}
    depends_on:
      - ollama

  frontend:
    build:
      context: ./frontend
    container_name: chat_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8000
    depends_on:
      - backend

volumes:
  chroma_data:
  ollama_data: